@font-face {
    font-family: 'MiddleEarth';
    src: url("https://www.fontspace.com/middleearth-font-f28347")  format('truetype'), 
  }


.container{
    padding: 2rem 2rem;
    display: grid;
    grid-template-areas: 
    '. a a .'
    'b b c c' 
    'b b c c'
    '. d d .';

    gap: 2rem;
    color: black;
    
}

.item1{
    grid-area: a;
    text-align: center;
    font-style: italic;
    font-family:  'Middleearth',cursive;
    font-size: 2rem;
    color: rgb(245, 241, 234);

}

.item2{
    grid-area: b;  
    height: 15rem;
    
}


.item3{
    grid-area: c;
}


.item4{
    grid-area: d;
    display:flex;
    justify-content: center;
    align-items:center;
    margin: auto;
    
}


.card{
    
    border-radius: 5px;
    box-shadow: 4px 4px 4px 2px rgba(231, 222, 196, 0.52);
    text-align: center;
    background-image:linear-gradient(to bottom, rgb(241, 223, 141), rgb(88, 78, 16));
    font-style: italic;
    font-family: cursive;
    font-size: 1.5rem;

    color: black;
  
}

p{
    font-size: 2rem;
    font-weight: 900;
    
    font-family: 'MiddleEarth',cursive;

}


h2{
    font-size: 2.5rem;
    font-family: 
    'MiddleEarth', cursive; 
    text-decoration: underline black;
    margin-bottom: 1.5rem;
}


.btn{
    color: rgb(165, 142, 12);
    background-color: rgb(5, 7, 5);
    border:4px solid rgb(17, 16, 2);
    
}

.start-btn{
    color: rgb(165, 142, 12);
    background-color: rgb(5, 7, 5);
    border:2px solid rgb(156, 147, 15);
    text-align: center;
    
    border-radius: 100%;
    height: 15rem;
    width: 15rem;
    font-size: 1.8rem;
    font-style: italic;
    font-family: cursive;
    outline: none;

    margin-top: 1rem;
    
   
   box-shadow:
    /* inner white */
    inset 0 0 20px #fff,   
    /* inner left  */   
    inset 5px 0 30px rgb(228, 226, 149), 
    /* inner right */  
    inset -3px 0 0px rgb(230, 236, 236), 
    /* inner left */ 
    inset 3px 0 80px rgb(163, 132, 47), 
    /* inner right  */
    inset -5px 0 30px rgb(133, 117, 46),
    /* outer white */
    0 0 30px #fff,  
    /* outer left */    
    -3px 0 30px rgb(235, 232, 76),
    /* outer right */        
    3px 0 30px rgb(187, 169, 10);         
  
 }


 .start-btn:hover{
    border: 2px solid black;
    box-shadow:   
        0 0 30px #fff,          
        -3px 0 30px rgb(235, 232, 76),       
        3px 0 30px rgb(187, 169, 10);   
        
    text-shadow: 5px 5px 8px #fdfafa;
    color:white;
    font-family:  cursive;
     
 }



input{
    height: 3rem;
    /* background-color: rgba(63, 47, 12, 0.52); */
    color: rgba(245, 176, 49, 0.52);
    font-size: 1.5rem;
    border: none;
    /* this is bad practice - not good for accesibility */
    outline: none;
    
    background-image: linear-gradient(to bottom, #8a7105, #221801);
    background-size: 100%;
    background-clip: inital;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

