@media all and (max-width: 767px){
    .hidden{
        display:flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        margin: 0;
        width: auto;

        border: 1px solid rgb(8, 8, 4);
        -webkit-text-stroke: 1px rgb(206, 186, 10);
        color: rgb(7, 54, 7);
       
        font-size: 6rem;
        font-style: italic;
        font-family: 'Lobster', cursive;
        text-decoration: underline rgb(177, 160, 5);
        text-align: center;
    
    }


    img{
        display: none;
    }

    hr{
        display: none;
    }

    .container{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    .match{
        box-shadow: none;
        height: auto;
        width: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 0;
        margin-right: 0;
    }
    
    p{
        display: flex;
        flex-direction: column;
    }

    .card{
        margin-bottom: 2rem;
    }

}